<a href="https://colab.research.google.com/github/Grigorus/Study_Stepik/blob/main/%D0%9F%D0%90%D0%9E_%D0%9E%D0%A2%D0%9A%D0%A0%D0%AB%D0%A2%D0%98%D0%95_%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%83%D1%81%D1%8C_%D0%95_%D0%9D_Stepik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 1: Введение в Python

## Light версия

### Задача 1

Считайте с входящей строки два целых числа и выведите их сумму, разность, произведение.

In [ ]:
 a = input ("введите первое целое число") 
 b = input ("введите второе целое число")
print ("сумма этих чисел равна", int(a)+int(b))
print ("разность этих чисел равна", int(a)-int(b))
print ("а произведение этих чисел равно", int(a)*int(b))

### Задача 2

Дан ряд целых чисел от 10 до 25 включительно. Используя цикл for выведите на экран сумму двух последовательно идущих чисел.


**Пример**: 

Для ряда от 2 до 6 включительно выдача выглядит так: 

5

7

9

11

In [ ]:
for i in range (10, 25):
    print (i*2+1)

### Задача 3

Для ряда целых чисел от 100 до 150 включительно выведите на экран только те, что делятся на 5 без остатка.

In [ ]:
for i in range (100, 150):
  if (i%5) == 0:
    print (i)

### Задача 4

Считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

In [ ]:

N = input ("введите целое положительное число")
N = float(N)
while (N-int(N) > 0 or (N<0)) == True:
     print ("Вы ввели число не из требуемого множества")
     N = input ("Повторите введение целого положительного числа")
     N = float(N)
if (N%2) == 1:
  print ("Число", N, "нечётное")
elif ((N%2) == 0 and (6.0<= N <= 10.0)):
  print (N, "четное и принадлежит интервалу [5, 10]")
elif ((N%2) == 0 and (N>10.0)):
    print (N, "чётное и больше 10")
elif (N<5.0):
      print (N, "чётное и меньше 5")

введите целое положительное число7
Число 7.0 нечётное

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 15 до 22 включительно.

In [ ]:
N = 15
S = 0
while (N<=22):
  S=S+N
  N=N+1
print ("Сумма целых чисел от 15 до 22 включительно равна", S)

Сумма целых чисел от 15 до 22 включительно равна 148

### Задача 6

Используя цикл for, найдите сумму всех элементов заданного списка. (Без использования встроенных функций sum и т.д.)

In [ ]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
#count_elements = (len(my_list)) из любопытства посчитаем длину списка (вдруг бы он был гигантским)
#print (count_elements)  проверим как работает len
Sum_list = 0 #в эту переменную будем складывать всех членов списка в кучу.
for i in my_list:
  Sum_list = Sum_list + i
print ("Сумма элементов заданного списка", Sum_list)

### Задача 7

Используя цикл (любой) найдите значение максимального элемента списка из предыдущего задания. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые). 

P.S.: не стесняйтесь гуглить :)

P.S.2: гуглить нужно фразу "алгоритм поиска максимального элемента массива"

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7

In [ ]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
Max_bidon = 0
for i in my_list:
  if Max_bidon < i:
    Max_bidon = i
print ("Наибольшее число из этого списка", Max_bidon)

Наибольшее число из этого списка 158

### Задача 8

Создайте словарь, соответствующий следующему описанию: 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

P.S. все совпадения случайны :)

In [ ]:
Work_Dict = { "Валера"  : "0",
              "Наташа"  : "2",
              "Алина"   : "3",
              " Лев"    : "1",
              "Марат"   : "15"}

### Задача 9

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. используйте встроенный метод .update

In [ ]:
Work_Dict = { "Валера"  : "0",
              "Наташа"  : "2",
              "Алина"   : "3",
              " Лев"    : "1",
              "Марат"   : "15"}
print (Work_Dict)#смотрим словарь, в котором Ромы ещё нет
#Work_Dict ["Рома"] = "4"  альтернативный способ добавить в словарь пару ключ-значение
Roma_com = { "Рома" : "4"} #создаём ещё один словарь
Work_Dict.update(Roma_com)# выполняем задание как положено (слияние словарей)
print (Work_Dict)  #проверяем : Рома пришёл

{'Валера': '0', 'Наташа': '2', 'Алина': '3', ' Лев': '1', 'Марат': '15'}
{'Валера': '0', 'Наташа': '2', 'Алина': '3', ' Лев': '1', 'Марат': '15', 'Рома': '4'}

## Pro версия

### Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами

In [ ]:
print ("@")
print ("@", "@", sep=" ")
print ("@", "@", "@", sep=" ")
print ("@ @ @ @ @")# для разнообразия

@
@ @
@ @ @
@ @ @ @ @

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами

In [ ]:
print ("1")
print ("2 2")
print ("3", "3", "3", sep=" ")
print ("4 4 4 4")
print ("5 5 5 5 5")
print ("6 6 6 6")
print ("7", "7", "7", sep=" ")
print ("8 8")
print ("9")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример:**
    
Для числе 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

In [ ]:
i=1
while (i<=9):
  print ("7*",i,"=",(7*i), sep="")
  i+=1

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответсуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(". Во всех остальных случаях выведите на экран сумму значений.

In [ ]:

d1 = input ("Ведите число точек на грани первого кубика от 1 до 6")
d1=int(d1)
if (d1<1 or d1>6):
  kubas=1
  print ("Ошибка! Число на кубике", kubas, "не входит в интервал [1, 6]", sep=" ")
else:
  d2 = input ("Ведите число точек на грани второго кубика от 1 до 6")
  d2=int(d2)
  if (d2<1 or d2>6):
    kubas=2
    print ("Ошибка! Число на кубике", kubas, "не входит в интервал [1, 6]", sep=" ")
  else:
      if ((d1+d2)==7 or (d1+d2)==11):
        print ("Я победил!!!")
      elif ((d1+d2) == 2 or (d1+d2)==3 or (d1+d2)==12):
        print ("Я проиграл :(")
      else:
        print ("Сумма значений", d1+d2, sep="=" )

Ведите число точек на грани первого кубика от 1 до 66
Ведите число точек на грани второго кубика от 1 до 65
Я победил!!!

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [ ]:
  for i in range(3000, 4300):
    if (i%11==0 and i%5!=0):
      print (i)

### Задача 6

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [ ]:
sample_list = ["мандаринки", "киви", "лимон"]
super_list=[]
chis = input("Введите целое положительное число")
chis = int(chis)
for i in range(1, chis+1):
  new_list = [sample_list[0]+"_"+str(i), sample_list[1]+"_"+str(i),sample_list[2]+"_"+str(i)]
  super_list.extend(new_list)
print (super_list)

Введите целое положительное число3
['мандаринки_1', 'киви_1', 'лимон_1', 'мандаринки_2', 'киви_2', 'лимон_2', 'мандаринки_3', 'киви_3', 'лимон_3']

### Задача 7

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [ ]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
LLL = (len(list_for_pro_task_2))
for i in range (0, LLL-1): 
  tipage =  (type(list_for_pro_task_2[i]))
  if  tipage == dict: 
    print ("Ответ: в данном списке до словаря", i, "элементов", sep=" ")

Ответ: в данном списке до словаря 7 элементов

### Задача 8

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. используйте циклы или функции, прямое "ручное" присваивание не допускается (!!!)

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

In [ ]:
slovaril = {}
for i in range (1,21):
  slovarik = {i : i**2}
  slovaril.update(slovarik)
print (slovaril)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
user_list=[]

In [ ]:
name = 'dfcz'

In [ ]:
user_list.append(name)

In [ ]:
import sys

In [ ]:
a = float(input())
b = float(input())
oper = str(input())
flag = oper in ['/', 'mod', 'div']
if (b == 0 and flag):
    print('Деление на 0!')
    sys.exit() 
elif b!=0:
     dict_div = {'/': a/b, 'mod': a%b, 'div': a//b, '+': (a+b), '-': (a-b),  '*': (a*b),  'pow': (a**b)}
     print(dict_div.get(oper))
elif b==0:
  dict = {'+': (a+b), '-': (a-b),  '*': (a*b),  'pow': (a**b)}
  print(dict.get(oper))

7
6
-
1.0

In [ ]:
a = input() ; b = input() ; c=input()

2
4
5

In [ ]:
import math
if __name__ == '__main__':
    figure = input('введите форму комнаты')
    if figure == 'треугольник':
        a = abs(float(input ('длина первой стороны треугольника')))
        b = abs(float(input ('длина второй стороны треугольника')))
        g = abs(float(input ('длина третьей стороны треугольника')))
        if a+b >= g:
          p = a + b + g
          pp = p/2
          s = math.sqrt(pp*(pp-a)*(pp-b)*(pp-c))
          print(s)
        else:
          print('такого треугольника не может существовать')
    if figure == 'прямоугольник':
        a = float(input ('длина первой стороны прямоугольника'))
        b = float(input ('длина второй стороны прямоугольника'))
        print (abs(a*b))
    if figure == 'круг':
        r = abs(float(input('введите радиус комнаты')))
        s = 3.14*(r**2)
        print (s)

введите форму комнатытреугольник
длина первой стороны треугольника1
длина второй стороны треугольника1
длина третьей стороны треугольника10
такого треугольника не может существовать

In [ ]:
type(c)

str

In [ ]:
list = [20, 25, 30]

In [ ]:
import numpy as np

In [ ]:
mas = np.array([20, 20, 20])

In [ ]:
print (mas.max())
print (mas.min())
print (mas.sum()-mas.max()-mas.min())

20
20
20

In [ ]:
mas = np.array([0, 0, 0])
for i in range (0,3):
  mas[i] = input()
print (mas.max())
print (mas.min())
print (mas.sum()-mas.max()-mas.min())

10
45
10
45
10
10

In [ ]:
n = int(input())
lenn = len(str(n))
len_str = str(n)
digsuf = str(n)[lenn-1]
if 11 <= n and n <= 19:
  digsuf = '0'
if lenn >= 3:
    if 11 <= int(len_str[1:]) <=19:
      digsuf = '0'
malo = ['1']; sred = ['2', '3', '4']; 
mnog = ['5', '6', '7', '8', '9', '0']
if digsuf in malo:
  print(n,'программист', sep=' ') 
elif digsuf in sred:
  print(n,'программиста', sep = ' ')
elif digsuf in mnog:
  print(n, 'программистов', sep = ' ')
else:
  print('некорректный ввод')

611
611 программистов

In [ ]:

ticket = input()
tick_list = [int(c) for c in ticket]
tick_mass = np.array(tick_list)
if tick_mass[:3].sum() == tick_mass[3:].sum():
  print('Счастливый')
else:
  print('Обычный')

123321
Счастливый

In [ ]:
print(tick_mass[:3].sum())

11

In [ ]:
print(tick_mass[3:].sum())

6

In [ ]:
i = 0
while i <= 10:
    i = i + 1
    if i > 7:
        i = i + 2

In [ ]:
print(i)

13

In [ ]:
i = 0
while i < 5:
    print('*')
    if i % 2 == 0:
        print('**')
    if i > 2:
        print('***')
    i = i + 1

*
**
*
*
**
*
***
*
**
***

In [ ]:
n = 1
s = 0
while n != 0:
  n = int(input())
  if n != 0:
     s = s + n
  else:
    print (s)

2
5
8
10
-12
0
13

In [ ]:
a = int(input())
b = int(input())
i = 1
while (i%b != 0) or (i%a !=  0): 
           i = i + 1
print(i)

3
5
15

In [ ]:
i = 0
s = 0
while i < 10:
    i = i + 1 ; print(i)
    s = s + i ; print(s)
    if s > 15:
        continue
    i = i + 1

1
1
3
4
5
9
7
16
8
24
9
33
10
43

In [ ]:
print (i)

10

In [ ]:
n=0
while n <= 100:
  n = int(input())
  if n > 100:
    break
  if n < 10:
    continue
  else:
    print(n)

10
10
9
100
100
101

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
for i in range(a,b):
    print (i, end = '', sep ='  ')

2
9
2
9
2345678

In [ ]:
c = int(input())
d = int(input())
a = int(input())
b = int(input())
print('\t', end = '')
for i in range(a,b+1):
    print (i, end = '\t')
print('')
for j in range(c, d+1):
    print (j, end = '\t')
    for i in range(a, b+1):
        print (j*i, end = '\t')
    print('')

2
9
2
9
	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [ ]:
import numpy as np
res = np.array([])
a, b = input().split()
a = int(a); b=int(b)
s = 0
for i in range (a, b+1):
  if i%3 == 0:
    res = np.append(res, i)
print(np.mean(res))

-5 12
4.5

In [ ]:
from random import randint
times = 1
level = float(input('Какой уровень 1 2 3? '))
if level == 1 or level == 2 or level == 3:
    score = level
    print('ПЕРЕХОДИМ НА 1 УРОВЕНЬ')
    while 2 > level > 0.9:
        z = randint(1, 2)
        n1 = randint(1, 5)
        n2 = randint(1, 5)
        if z == 1:
            r = float(input(str(times) + ')' + str(n1) + '+' + str(n2) + '=')) == n1+n2
        else:
            r = float(input(str(times) + ')' + str(n1+n2) + '-' + str(n1) + '=')) == n1+n2-n1
        if r == 1:
            print('Правильно')
            level += 0.1
            times += 1
        else:
            print('Не правильно')
            times += 1
    print('ПЕРЕХОДИМ НА 2 УРОВЕНЬ')
    while 3 > level > 1.9:
        z = randint(1, 2)
        n1 = randint(1, 10)
        n2 = randint(1, 10)
        if z == 1:
            r = float(input(str(times) + ')' + str(n1) + '+' + str(n2) + '=')) == n1+n2
        else:
            r = float(input(str(times) + ')' + str(n1+n2) + '-' + str(n1) + '=')) == n1+n2-n1
        if r == 1:
            print('Правильно')
            level += 0.1
            times += 1
        else:
            print('Не правильно')
            times += 1
    print('ПЕРЕХОДИМ НА 3 УРОВЕНЬ')
    while 4 > level > 2.9:
        z = randint(1, 4)
        n1 = randint(1, 50)
        n2 = randint(1, 50)
        n3 = randint(1, 10)
        n4 = randint(1, 10)
        if z == 1:
            r = float(input(str(times) + ')' + str(n1) + '+' + str(n2) + '=')) == n1+n2
        elif z == 2:
            r = float(input(str(times) + ')' + str(n1+n2) + '-' + str(n1) + '=')) == n1+n2-n1
        elif z == 3:
            r = float(input(str(times) + ')' + str(n3) + '*' + str(n4) + '=')) == n3*n4
        else:
            r = float(input(str(times) + ')' + str(n3*n4) + ':' + str(n4) + '=')) == n3*n4/n4
        if r == 1:
            print('Правильно')
            level += 0.1
            times += 1
        else:
            print('Не правильно')
            times += 1
    print('Вашь счёт = ' + str(int((level-score)*10)) + ' из ' + str(times-1))
else:
    print('Такого уровня нету!')

Какой уровень 1 2 3? 2
ПЕРЕХОДИМ НА 1 УРОВЕНЬ
ПЕРЕХОДИМ НА 2 УРОВЕНЬ
1)12-10=2
Правильно
2)9-6=3
Правильно
3)8+10=18
Правильно
4)7+5=12
Правильно
5)2+3=5
Правильно
6)20-10=10
Правильно
7)7+8=15
Правильно
8)9+4=13
Правильно
9)5+1=6
Правильно
10)16-8=8
Правильно
ПЕРЕХОДИМ НА 3 УРОВЕНЬ
11)18:2=9
Правильно
12)4*4=16
Правильно
13)24:3=8
Правильно
14)4*10=40
Правильно
15)14-11=3
Правильно
16)42-18=24
Правильно
17)7*8=56
Правильно
18)41+9=50
Правильно
19)42+33=75
Правильно
20)15+1=16
Правильно
Вашь счёт = 20 из 20

In [ ]:
g_code = input().lower()
print(((g_code.count('c'))+(g_code.count('g')))*100/len(g_code))

CcddGghh
50.0

In [ ]:
print(input())

20
20

In [ ]:

print(((g_code=input().lower().count('c'))+(input().lower().count('g')))*100/len(g_code))

CcjjGg
Cchhcc
3.8461538461538463

In [ ]:
s = 'abcdefghijk'

In [ ]:
s[-1:-10:-2]

'kigec'

In [ ]:
genom = input()
gen_set = set(genom)
formula = ''
for i in gen_set:
    num = genom.count(i)
    formula = formula + i + str(num)
print(formula)

xxttkkkaeaaeyy
x2e2a3t2k3y2

In [ ]:
genom = input()
form = ''
k=1
n=1
if len(genom) == genom.count(genom[0]):
  form = genom[0] + str(len(genom))
  print(form)
else:
  for i in range(0, len(genom)-1):
    if genom[i] == genom[i+1]:
        k=k+1
        if i == len(genom)-1:  
            form = form + genom[i] + str(k)
    else:
        form = form + genom[i] + str(k)
        k=1
  k = 1
  while genom[len(genom)-n] == genom[len(genom)-(n+1)]:
    n=n+1
  form = form + genom[len(genom)-n] + str(n)
  print(form)

aaaaaaaaaaaaaaaa
a16

In [ ]:
students = ['Ivan', 'Masha', 'Sasha']
students += ['Olga']
students += 'Olga'

In [ ]:
print(students)

['Ivan', 'Masha', 'Sasha', 'Olga', 'O', 'l', 'g', 'a']

In [ ]:
a = [1, 2, 3]
b = a
print(b)

[1, 2, 3]

In [ ]:
a[1] = 10
print(b)

[1, 10, 3]

In [ ]:
b[0] = 20
print(a)

[20, 10, 3]

In [ ]:
a = [5, 6]
print(b)

[20, 10, 3]

In [ ]:
lst = [int(i) for i in input().split()]
print(sum(lst))

2 2 2
6

In [4]:
lst = [int(i) for i in input().split()]
dlina = len(lst)
if dlina==1:
  print(lst[0])
else:
  print(lst[dlina-1]+lst[1], ' ', end = '')
  for i in range (1, dlina-1):
    print(lst[i-1]+lst[i+1], ' ', end = '')
  print(lst[dlina-2]+lst[0])

1 3 5 6 10
13  6  9  15  7

In [5]:
lst = [int(i) for i in input().split()]
setus = set(lst)
for i in setus:
  if lst.count(i) > 1:
    print(i, ' ', end = '')

4 8 0 3 4 2 0 3
0  3  4

In [24]:
k=0
s = 1
sum = 0
lst = []
res = 0
while s != 0:
  n = int(input())
  lst.append(n)
  if k==0:
    s = 0
    s = s+n
  else:
    s = s + n  
  k = k+1
sum = [lst[i]*lst[i] for i in range (0, len(lst))]
for elem in sum:
  res = res + elem
print(res)

1
-3
5
-6
-10
13
[1, 9, 25, 36, 100, 169]
340

In [ ]:
n = int(input())
strok = []
for i in range (0, n+1):
   strok = strok + [i]*i
stron = strok[:n]
lent = len(stron)
stroka = (stron[:lent])
print(*stroka)

In [127]:
lst = [int(i) for i in input().split()]
ans = []
n = int(input())
for i in range (0, len(lst)):
   if n == lst[i]:
        ans.append(i)
if len(ans) == 0:
  print('Отсутствует')
else:
  print(*ans)

3 3 3 3 3 3 3 3
4
Отсутствует

In [128]:
def f(n):
    return n * 10 + 5

In [129]:
f(f(f(10)))

10555

In [133]:
def fun_fun(x):
  if x <= -2:
    res = (1-(x+2)**2)
  elif     -2 <= x <= 2:
    res = -(x/2)
  else: 
    res = (x-2)**2+1
  return res

In [136]:
print(fun_fun(1))

-0.5